.products-header{
    width: 80%;
    margin: auto;
    align-items: center;
    border-bottom: 4px solid #4CAF50;
    text-align: center;
}

.products-header h1{
    padding-bottom: 15px;
}

.stars{
    display: flex;
}

.stars .star{
    width: 15px;
    height: 15px;
}

.thumbnails{
    padding-top: 40px;
    margin: auto;
    width: 90%;
    display: flex;
    gap: 20px;
    padding-bottom: 30px;
}

.thumbnails .product-thumbnail-1{
    border: 2px solid #4CAF50;
    border-radius: 20px;
    position: relative;
    transition: transform 0.3s ease-out;
}

.thumbnails .product-thumbnail-1:hover{
    transform: translateY(-10px) scale(1.05); 
}


.thumbnails .product-thumbnail-1 img{
    border-radius: 15px;
}

.thumbnails .product-thumbnail-1 .stars{
    padding: 10px;
}

.thumbnails .product-thumbnail-1 .product-details{
    padding: 10px;
    padding-bottom: 7px;
}

.thumbnails .product-thumbnail-1 .product-details span{
    font-weight: bold;
}

/*aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa*/

.thumbnails .product-thumbnail-2{
    border: 2px solid #4CAF50;
    border-radius: 20px;
    position: relative;
    transition: transform 0.3s ease-out;
}

.thumbnails .product-thumbnail-2:hover{
    transform: translateY(-10px) scale(1.05); 
}


.thumbnails .product-thumbnail-2 img{
    border-radius: 15px;
}

.thumbnails .product-thumbnail-2 .stars{
    padding: 10px;
}

.thumbnails .product-thumbnail-2 .product-details{
    padding: 10px;
    padding-bottom: 7px;
}

.thumbnails .product-thumbnail-2 .product-details span{
    font-weight: bold;
}

/*aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa*/

.thumbnails .product-thumbnail-3{
    border: 2px solid #4CAF50;
    border-radius: 20px;
    position: relative;
    transition: transform 0.3s ease-out;
}

.thumbnails .product-thumbnail-3:hover{
    transform: translateY(-10px) scale(1.05); 
}


.thumbnails .product-thumbnail-3 img{
    border-radius: 15px;
}

.thumbnails .product-thumbnail-3 .stars{
    padding: 10px;
}

.thumbnails .product-thumbnail-3 .product-details{
    padding: 10px;
    padding-bottom: 7px;
}

.thumbnails .product-thumbnail-3 .product-details span{
    font-weight: bold;
}

/*aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa*/

.thumbnails .product-thumbnail-4{
    border: 2px solid #4CAF50;
    border-radius: 20px;
    position: relative;
    transition: transform 0.3s ease-out;
}

.thumbnails .product-thumbnail-4:hover{
    transform: translateY(-10px) scale(1.05); 
}


.thumbnails .product-thumbnail-4 img{
    border-radius: 15px;
}

.thumbnails .product-thumbnail-4 .stars{
    padding: 10px;
}

.thumbnails .product-thumbnail-4 .product-details{
    padding: 10px;
    padding-bottom: 7px;
}

.thumbnails .product-thumbnail-4 .product-details span{
    font-weight: bold;
}

/*aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa*/